body {
  background-color: black;
  width: 400px;
  margin: 0;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./fonts/Poppins-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}



